NUXEO_CLID=c82e9e15-c4ef-4472-943b-96166a04074e.1803778140.nsv+suCohueooXpJnvM2jN8YUlie+fvvAZwcNa1mGfwQLtF4FoyNOa+3gjv894F54Bv6Z3H3LvLJffKNOWy/LCTfv3dBP+UibVenIU9VaV82eK5caGNYqDlxCFRoBF83UEPNpndbo0OF9HTTk2W+rYFAA/mIrR817ea+BBi62MmzUAQWLtKK/vE++eAGjWwqcSXqGX9DEIudErQS2FXhCSseEnRInKUqzeRYJRopGHOr6ObSAAp3ulDQ81WzeU1pE4PtWqQTxEtfJJJ9Msj/SGPsHFakXrSSv0yr2vcvAm1NqOJJ0AuMtjCnIWAviXGCU6WVO2gfG1FmeCrhAKRwhw==--019c7e1b-45a2-4a2b-b93a-5a2e4e0949e9--Dev instance
NUXEO_PACKAGES=nuxeo-web-ui
